.App {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 30px;
  justify-content:center;
  align-items: center;
  position: relative;
  
}

li {
  list-style-type: none
}

.main-btn-container {
  display: flex;
  flex-direction: row;
  border: 1px solid pink;
  justify-content: center;
  
  
}

.sb-main-container {
  border: 2px solid red;
  align-items: center;
  text-align:  start;
  width: 40vh;
  height: 100vh;
}

.sidebar-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 1px solid yellow;
  height: 90%;
 
}

.sidebar-dashboard-container {
  border: 1px solid green;
  align-items: center;
  
}

.center-container, .home-main-container {
  border-right: 1px solid purple;
  align-items: center;
  text-align:  start;
  width: 60vh;
  height: 100vh;
  
}

.right-container {
  border: 1px solid purple;
  height: 100%;

}
/* .home-main-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align:  start;
  width: 100vh;
} */

.modal {
  position: absolute;
  background-color: #292c2e;
  top: 15%;
  right: 60%;
  border: 1px solid rgb(255, 255, 255);
}

.nav-main-container {
  display: flex;
  align-items: start;
  text-align:  start;
  border: 1px solid red;
  left: 60vh;
}

.post-main-container {
  display: flex;
  align-items: start;
  text-align:  start;
}

.user-container {
  display: flex;
  margin: 0px;
  padding: 5px;

}
.user-container2 {
  display: flex;
  margin: 0px;
  padding: 5px;

}

.profile-picture, .profile-picture-profile-feed {
  height: 35px;
  margin-right: 10px;
  border-radius: 25px;

}

.profile-picture-profile-page {
  height: 85px;
  margin-right: 10px;
  border-radius: 50px;
  margin-top: 50px;
  
}

#profile-background {
  border: 1px solid orange;
  height: 100px;
  background-image:url(../img/neo-pepe-.png);
}

#profile-info {
  border: 1px solid yellow;
  height:80px;
  padding-top: 30px;

}

.post-container, .post-page-container {
  border: 1px solid red;
}

.user-name {
  font-weight:bold;
}

.content {
  margin-top: 2px;
}

.option-btn-container {
  display:flex;
  justify-content: end;
  position: relative;
  

}

.options-btn {
  position: absolute;
  border: 0px;
  background:none;
  
}

#options {
  display: flex;
  position: absolute;
  top: 0;
  right: 14%;
  bottom: 10%;
  background-color: red;
}

#options>* {
  display: flex;
  position: absolute;
}

.followBtn {
  margin-left: -18px;
}

.threeDotsSvg {
  width: 20px;
  height: 20px;
}

button.options-btn, button.options-btn svg * {
  pointer-events: none;
  background-color: #292c2e;
  border-radius: 0px;
}

button.options-btn:hover {
  background-color: #292c2e;
}

button.options-btn:hover svg g path{
  fill: rgb(166, 166, 166)
  
}

button.options-btn * {
  pointer-events:all
}

.threeDotsSvg:hover {
  cursor: pointer;
}

.profile-line-connector {
  display: flex;
  flex-direction: column;
}

.connecting-comments-line {
  border-left: 2px solid #292c2e;
  margin-top: 36px;
  margin-left: 17px;
  position: absolute
}

.connecting-comments-line2 {
  border-left: 2px solid #292c2e;
  margin-top: 36px;
  margin-left: 17px;
  position: absolute
}

button{
  border: 0px;
  background: none;
  border-radius: 25px;
}
button:hover {
  background:fixed;
  cursor:pointer;
}
.search-container {
  display: flex;
}

/* ICONS */

.back-arrow-icon {
  font-size: 20px;
}
.back-arrow-icon:hover {
  color:#292c2e;
}

.edit-profile-main-container {
  width: 500px;
  height: 350px;
  position: absolute;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
  background-color: rgb(38, 36, 36);
}