/* #root {
  min-height: 100vh;
  background-color: rgb(23, 23, 23);
  overflow: auto;
}
.App {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content:center;
  align-items: flex-start;
  position: relative;
  color: whitesmoke;
  margin-right: 190px;
} */

#root {
  min-height: 100vh;
  background-color: rgb(23, 23, 23);
  display: flex;
}

.App {
  display: flex;
  min-height: 100vh;
  overflow-y: auto;
  min-width: 100%;
  color: whitesmoke;
  margin-right: 190px;
  justify-content: center;
}::-webkit-scrollbar {
  width: 5px;  /* Remove scrollbar space */
  background: black;  /* Optional: just make scrollbar invisible */
}::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit; /* Fixed height for the sidebar */
  overflow-y: auto; /* Enables scrolling within the sidebar */
  position: sticky;
  top: 0;
  min-width:100px;
}

.sb-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align:  start;
  height: 100vh; 

}

li {
  list-style-type: none
}

.feed-main-container {
  height: 0px;
}

.post-btn {
  width: 50px;
  border-radius: 20px;
  color: whitesmoke;
  background-color:#adadad;
  border: 0px;
  font-size: small;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 10px;
}

.post-btn:hover {
  cursor: pointer;
  color: white;
  background-color: darkgray;
}

.profile-dashboard {
  padding: 2px;
}

.profile-dashboard:hover {
  background-color: rgb(98, 98, 98);
  cursor: pointer;
} 
.user-container-profile-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.user-container-profile-page {
  display: flex;
  flex-direction: column;
}

.loading-element-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-left: 1px solid rgba(245, 245, 245, 0.531);
  border-right: 1px solid rgba(245, 245, 245, 0.531);
}

.btn-container {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

.close-button {
  position: absolute;
  top: 0;
  left: 330px;
  width: 0px;
  height: 0px;
  border: 0px;
  z-index: 3;
  background: none;
  color:  gray;
}

.close-button:hover {
  cursor: pointer;
  color: rgb(166, 166, 166);
}

.close-button-edit-profile {
  position: absolute;
  top: 0;
  left: 700px;
  width: 5px;
  height: 5px;
  border: 0px;
  z-index: 3;
  background: none;
  color:  gray;
  background-color: rgb(0,0,0,0);
}

.save-btn {
  height: 80%;
  width: 99%;
  padding: 2px;
  margin-left: 3px;
  margin-right: 6px;
}

.close-button-edit-profile > svg {
  position: absolute;
  right: -7px;
  top: -2px;  
  padding: -2px;
  width: 20px;
  height: 20px;
}
.close-button-edit-profile > svg:hover , .close-button-gif-modal > svg:hover {
  cursor: pointer;
  color: rgb(166, 166, 166);
}
.like-btn:hover, .star-icon-post:hover, .comment-btn:hover, .bm-main-container:hover {
  cursor: pointer;
}

.modal-faded-background:hover, .modal-content:hover {
  cursor:default;
}

.main-btn-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  
}
/* .sidebar-wrapper {
  height: 100%;
  max-width: 300px;
  position: relative;
  
} */
/* .sidebar-fixed-wrapper {
  height: auto;
  max-width: 250px;
  position: fixed;
  left: 1;
} */
/* .sidebar {
  height: 100%;
  position: relative;
  left: 2;
} */
/* .like-btn {
  background: url(../img/search-svgrepo-com.svg) 0 0 no-repeat;
  height: 20px;
  width: 20px;
  display: block;
  transform: scale(100%);
  border: 1px solid red;
} */
.side-bar-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-icon, .star-icon {
  height: 25px;
  width: 25px;
  color: gray;
  padding-bottom: 5px
}
.home-icon:hover, .star-icon:hover {
  color: whitesmoke;
}
/* .sb-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  text-align:  start;
  height: 100vh; 
} */

/* .sidebar-dashboard {
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar-dashboard-container {
  align-items: center;
} */

.center-container {
  align-items: center;
  text-align:  start;
  width: 60vh;
  min-width: 30vh;
  height: 100%;
}

.home-main-container {
  height: 200px;
  display:flex;
  flex-direction: column
}

.right-container-wrapper {
  height: 100%;
  max-width: 250px;
  flex-wrap: wrap;
  display: flex;
  margin-left: 15px;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.right-container {
  display: flex;
  height: 100%;
  max-width: 250px;
  flex-wrap: wrap;
  right: 1;
  overflow: hidden;

}
/* .home-main-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align:  start;
  width: 100vh;
} */
.modal-frame {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  position: absolute;
  top:10%;
  /* background-color: #292c2e;
  top: 10%;
  right: 620px;
  border: 1px solid rgba(245, 245, 245, 0.531);
  z-index: 2;
  max-width: 800px; */
}

.comment-btns-container {
  display: flex;
  justify-content: space-between;
  margin-left: 52px;
  height: 35px;
  margin-top: 0px;
  padding: 0px;
}

.text-content-field {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px
}
.text-content-field>* {
  padding-top: 2px;
  padding-bottom: 5px;
}
.modal-content {
  position: absolute;
  margin-top: 10px;
  background-color: #292c2e;
  width: 350px;
  top: 50%;
  left: -175px;
  border: 0px solid rgba(245, 245, 245, 0.531);
  z-index: 5;
}
.modal-faded-background {
  top: 0;
  left: 0; 
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.close-button-gif-modal {
  position: absolute;
  top: 0;
  left: 500px;
  z-index: 3;
  background: none;
  color:  gray;
}
.nav-main-container {
  display: flex;
  align-items: start;
  text-align:  start;
  left: 60vh;
  flex-wrap: wrap;
  display: flex;

}

.create-post-main-container {
  max-height: auto;
}

.post-wrapper-container {
  border-top: 1px solid rgba(170, 170, 170, 0.331);
  border-left: 1px solid rgba(170, 170, 170, 0.331);
  border-right: 1px solid rgba(170, 170, 170, 0.331);
  border-bottom: 1px solid rgba(170, 170, 170, 0.331);
  max-height: auto;
}

.post-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  height: auto;
  max-width: 100%;
  padding-right: 10px;
}
.text-area-container {
  width: 100%;
}
.posting-content-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 2px 0px 5px 2px;
  border: 1px solid gray;
  width: 98%;
  padding: 2px;
}
.text-area-container>textarea {
  display: flex;
  border: 1px solid rgba(255, 0, 0, 0);
  height: 60px;
  width: 100%;
  min-width: 60%;
  max-height: 90%;
  min-height: 90%;
  resize: none;
  overflow: auto;
  background-color:rgba(38, 36, 36, 0);
  appearance: none;
  outline-style: none;
  box-sizing: border-box;
  outline-style: none;
  padding: 5px;
  color: rgb(211, 211, 211);
}
.gif-img-rmv-btn-wrapper {
  display: flex;
  position: relative;
}
.create-post-img-container {
  display: flex;
}
.remove-gif-btn {
  position: absolute;
  top: 1%;
  left: 85.1%;
  z-index: 3;
  background: none;
  color:  lightgray;
  background-color: #1e1d1d;
  border-radius: 25px;
  width: 25px;
  height: 25px;
}

.remove-gif-btn:hover {
  cursor: pointer;
  background-color: #323435;

}
.gif-image {
  width: 200px; /* Set your desired width */
  height: auto; /* Maintain aspect ratio */
}

/* .post-main-container>input[type="text"]:focus {
  border-bottom: 1px solid whitesmoke
} */

.search-main-container>input[type="text"] {
  display: flex;
  height: 30px;
  min-width: 100px;
  background-color: gray;

}

input[type="button"] {
  border: 1px;
  height: 32px;
  background-color: gray;
}
.user-container {
  display: flex;
  margin: 0px;
  padding-left: 5px;
}

.user-container2 {
  display: flex;
  margin: 0px;
  padding: 5px;

}

.user-container:hover,.user-container2:hover {
  cursor: pointer;
}

.profile-picture, .profile-picture-profile-feed {
  height: 40px;
  margin-right: 10px;
  border-radius: 25px;
  z-index: 1;
  padding-left: 4px;
  padding-top: 4px;
  display: flex;

}

.profile-picture-profile-page {
  height: 85px;
  margin-right: 10px;
  border-radius: 50px;
  margin-top: 50px;
  
}

#profile-background {
  height: 100px;
  /* background-image:url(../img/neo-pepe-.png); */
}

#profile-info {
  height:80px;
  padding-top: 40px;

}
.quacks-select, .responses-select {
  color:#5b5f62;
}

.quacks-select:hover,.responses-select:hover {
  cursor: pointer;
  color: whitesmoke;
  background-color: rgb(69, 71, 72);;
  
}

.post-container, .post-page-container {
  background-color: #1e1d1d;
  margin-top: 0px;
  border-left: 1px solid rgba(170, 170, 170, 0.331);
  border-right: 1px solid rgba(170, 170, 170, 0.331);
  border-bottom: 1px solid rgba(170, 170, 170, 0.331);
}
.post-container:hover, .post-page-container:hover {
  background-color: #292c2e;
  cursor: pointer;
}
.user-name {
  font-weight:bold;
}

.user-name-post:hover {
  text-decoration: underline;
  cursor: pointer;
}

span {
  max-width: 100%;
}
.content {
  margin-top: 2px;
  max-width: 100%;
}

.text-content-field {
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 87%; 
  margin-right: 50px;
}

.option-btn-container {
  display:flex;
  justify-content: flex-end;
  position: relative;
}

.options-btn {
  position: absolute;
  margin-top: -1px;
  border: 0px;
  background: none;
  z-index: 4;
  width: 20px;
  height: 20px;
  right: 15px;
}

#options {
  display: flex;
  position: absolute;
  margin-top: 3px;
}

.btnSubcontainer {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  width: 100px;
  height: 20px;
  border: 1px solid gray;
  background-color: rgb(14, 14, 14)
}

#options>* {
  display: flex;
}

.deleteBtn, .followBtn {
  margin-top:-3px;
  height: 20px; 
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.threeDotsSvg {
  width: 20px;
  height: 20px;
  filter: invert(80%);
  
}

button.options-btn, button.options-btn svg * {
  pointer-events: none;
  background-color: #292c2e00;
  border-radius: 0px;
}

button.options-btn:hover {
  background-color: #292c2e00;
}

button.options-btn:hover svg g path {
  fill: rgb(166, 166, 166);
}

button.options-btn * {
  pointer-events:all
}
.searchContainer {
  display: flex;
  margin: 5px;
  flex-wrap: wrap;
  max-width: 180px;
}
.searchElem {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  border: none;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 180px;
}
.searchElem>input {
  border-style: none;
  background-color:rgba(38, 36, 36, 0);
  color: rgb(211, 211, 211);
  appearance: none;
  outline-style: none;
  box-sizing: border-box;
  outline-style: none;
  padding: 5px;
  height: 25px;
}

 .searchButton { 
  filter: invert(70%);
  transform: scale(95%);
}  

.searchButton:hover {
  filter: invert(0%);
  transform: scale(115%);
  cursor: pointer;
}

.threeDotsSvg:hover {
  cursor: pointer;
}

.profile-line-connector {
  display: flex;
  flex-direction: column;
}

.connecting-comments-line {
  border-left: 2px solid #adadada1;
  margin-top: 42px;
  margin-left: 25px;
  position: absolute
}

.connecting-comments-line2 {
  border-left: 2px solid #adadada1;
  margin-top: 42px;
  margin-left: 23px;
  position: absolute
}

.close-button:hover {
  cursor: pointer;
  color: whitesmoke;
}

button:not( .searchButton, .remove-gif-btn, .gif-search-button, .close-button, .close-button-edit-profile, .options-btn, .close-button-gif-modal, .gif-btn):hover {
  background: fixed;
  background-color: rgb(142, 142, 142);
  cursor: pointer;
}

button {
  border: 0px;
  background: none;
  color: whitesmoke;
}
.search-container {
  display: flex;
  min-width: 100px;
  flex-wrap: wrap;
  border: 1px solid gray;
}

/* ICONS */

.back-arrow-icon {
  font-size: 20px;
}
.back-arrow-icon:hover {
  color:#292c2e;
}

.edit-profile-main-container {
  display: grid;
  left: 215px;
  width: 500px;
  height: 350px;
  position: absolute;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 5px;
  background-color: rgb(38, 36, 36);
  z-index: 2;
  padding: 0px 1px 0px 1px;
}

.img-upload-wrapper-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.upload-profile-pic-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 2px 0px 5px 2px;
  border: 1px solid gray;
  width: 98%;
  padding: 2px;
} 

.upload-background-img-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 2px 0px 5px 2px;
  border: 1px solid gray;
  width: 98%;
  padding: 2px;
}

.upload-img-title {
  font-size: small;
  font-weight: lighter;
  margin: 0px 0px 3px 0px;
}


.upload-profile-pic-file-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: smaller;
  font-weight:200;
}

.upload-background-img-file-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: smaller;
  font-weight:200;
}

.upload-profile-pic-file-input:hover, .upload-background-img-file-input:hover {
  cursor: pointer;
  background-color: rgb(98, 98, 98);
}

input[type="file"] {
  display: none;
}

input[type="text"] {
  border: 0px;
  background-color: #44434300;
  width: 100%;
  color: rgb(211, 211, 211);
  outline: none;
}

.update-name-label {
  margin: 0px 0px 3px 0px;
  font-size: small;
  font-weight: lighter;
}

.update-name-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 2px 0px 5px 2px;
  border: 1px solid gray;
  width: 98%;
  height: 60%;
  padding: 2px;
}

.update-name-title {
  font-size: small;
  font-weight: lighter;
  margin: 0px 0px 3px 0px;
}

.update-bio-label {
  margin: 0px 0px 3px 0px;
  font-size: small;
  font-weight: lighter;
}

.update-bio-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 2px 0px 5px 2px;
  border: 1px solid gray;
  width: 98%;
  padding: 2px;
}

.update-bio-container>textarea {
  display: flex;
  border: 1px solid rgba(255, 0, 0, 0);
  height: 30px;
  width: 100%;
  min-width: 50%;
  max-height: 75%;
  min-height: 75%;
  resize: none;
  overflow: auto;
  background-color:rgba(38, 36, 36, 0);
  appearance: none;
  outline-style: none;
  box-sizing: border-box;
  outline-style: none;
  padding: 2px;
  color: rgb(211, 211, 211);
}

#label-id-update-bio {
  max-width: inherit;
  max-height: 110%;
}

.save-btn {
  height: 80%;
  width: 98.8%;
  padding: 5px;
}

.gif-btn {
  height: 20%;
  width: 10%;
  margin-top: -10px;
  margin-left: -10px;
  color: lightgray;  
}
.gif-btn:hover {
  cursor: pointer;
  color: whitesmoke;
}

.gif-modal-wrapper {
  position: fixed;
  top: 0;
  left: -20%;
  height: 110%;
  width: 250%;
  z-index: 5; 
  background-color: rgba(0, 0, 0, 0.5);
}

.gif-modal {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 45.5%;
  top: 5%;

} 

 .gif-modal-content {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 10px;
  background-color: #292c2e;
  max-width: auto;
  border: 1px solid rgba(245, 245, 245, 0.531);
  z-index: 5;
  border-bottom: 1px solid rgba(245, 245, 245, 0.531);
  border-right: 1px solid rgba(245, 245, 245, 0.531);
}

.gif-search-container {
  display: flex; 
  max-height: 300px;
  max-width: 530px;
}

.trending-gifs, .gif-search-result {
  display: flex; 
  max-height: 300px;
  max-width: 530px;
  overflow-x: auto;
  flex-direction: row;
  justify-content: flex-start; 
}

.gif-search-container>img {
  display: flex;
}

#gif-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2px 0px 5px 2px;
  border-bottom: 1px solid gray;
  border-right: 2px solid gray;
  width: 90%;
  padding: 2px;
}

.gif-search-button {
  color: lightgray;
  width: 30px; 
  height: 30px;
  display: block;
  transform: scale(90%);
  position: absolute;
  left: 420px;
  top:-1.7%;
  font-size: large;
  /* border: 2px solid rgb(40, 40, 62, 0); */
}
 
.gif-search-button:hover {
  cursor: pointer;
  color: whitesmoke;
}

