.login {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #222222;
    padding: 30px;
    border-radius: 2px;
  }

  .login-txt-input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 2px;
    height: 10px;
    
  }

  .login-txt-input:focus {
      outline-color:rgb(102, 104, 129);
      outline-style: solid;
  } 

  .login-btn-email {
    padding: 6px;
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: rgb(39, 42, 42);
    cursor: pointer;
    
  }

  .login-btn-email:hover {
    background-color: rgb(102, 104, 129);
  }

  .login-btn-google {
    background-color: #4285f4;
  }
  .login div {
    margin-top: 7px;
  }
  .guest-login-btn {
    background-color: lightseagreen;
    margin-top: 2px;
  }

  .login-btn-google,.guest-login-btn {
    border: 0px;
    background-color: rgb(39, 42, 42);
  }
  
  .login-btn-google:hover, .guest-login-btn:hover {
    background:fixed;
    background-color: rgba(73, 73, 73, 0.885);
  }

  a[href="/reset"] {
    color: rgb(98, 103, 182);
    text-decoration: none;
  }

  a[href="/register"] {
    color: rgb(98, 103, 182);
    text-decoration: none;
  }