.feed-types-select {
    display: flex;
    justify-content: center;
    align-items: center;
}
.feed-types-select >* {
    border: 1px solid gray;
    text-align: center;
    width: 100%;
    padding: 2px;
}