.feed-types-select {
    display: flex;
    border: 1px solid rgb(165, 244, 165);
    justify-content: center;
    align-items: center;
}
.feed-types-select >* {
    border: 1px solid green;
    text-align: center;
    width: 100%;
}