.App {
  text-align: center;
  display: flex;

}

.sb-main-container {
  border: 2px solid red;
  align-items: center;
  text-align:  start;
  width: 35vh;
  height: 100vh;
}

.home-main-container {
  display: flex;
  border: 1px solid red;
  flex-direction: column;
  align-items: start;
  text-align:  start;
  width: 100vh;
}

.nav-main-container {
  display: flex;
  align-items: start;
  text-align:  start;
  border: 1px solid red;
  left: 60vh;
}